html {
  font-family: "Noto Sans Japanese", sans-serif;
  color: #000;
  align-items: center;
}

a:link {
  text-decoration: underline #8bc9d9;
  color: #005e76;
}

.img {
  display: block;
  width: 100%;
}

.btn {
  color: #005e76;
  border-color: #005e76;
  background-color: white;
}

.btn:hover {
  color: #005e76;
  background-color: #8bc9d9;
  border-color: #005e76;
}

footer {
  color: #e2e2e2;
}
